pkgbase = cursor-bin
	pkgdesc = Cursor App - AI-first coding environment
	pkgver = null
	pkgrel = 1
	url = https://www.cursor.com/
	arch = x86_64
	license = custom:Proprietary
	depends = fuse2
	noextract = cursor-null.AppImage
	options = !strip
	source_x86_64 = cursor-null.AppImage::https://downloader.cursor.sh/linux/appImage/x64
	source_x86_64 = cursor.png
	sha256sums_x86_64 = 86e653cc8645018b4644c857182fb5b1dd25dace7dd7742458cf908c2b6c125d
	sha256sums_x86_64 = SKIP

pkgname = cursor-bin
