pkgbase = cursor-bin
	pkgdesc = Cursor App - AI-first coding environment
	pkgver = 0.39.6
	pkgrel = 27
	url = https://www.cursor.com/
	arch = x86_64
	license = custom:Proprietary
	depends = fuse2
	noextract = cursor-0.39.6.AppImage
	options = !strip
	source_x86_64 = https://github.com/Gunther-Schulz/aur-cursor-bin-updater/releases/download/v0.39.6/cursor-0.39.6.AppImage
	source_x86_64 = cursor.png
	sha256sums_x86_64 = 86e653cc8645018b4644c857182fb5b1dd25dace7dd7742458cf908c2b6c125d
	sha256sums_x86_64 = SKIP

pkgname = cursor-bin
